langgraph
langchainhub
#tavily-python==0.3.4
langchain-chroma
pytest
#langchain-openai==0.1.16
python-dotenv
langchain
langchain-community
langchain-ollama
beautifulsoup4
tiktoken
#langchain-google-community==2.0.7
duckduckgo-search